<!DOCTYPE html>
<html lang="en">
<head>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <style>
    body {
      background-image: url('https://media.admagazine.com/photos/61de539e089751617cd2fc74/16:9/w_2560,c_limit/plantas.jpg');
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
    }

    .card-purchase {
      border-radius: 15px;
      padding: 20px;
      background-color: white;
    }
  </style>
</head>
<body>

<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card-purchase">
        <div class="card-body text-center">
          <h2 class="card-title">Create a new purchase</h2>
          <%= simple_form_for([@plant, @purchase]) do |f| %>
            <div class="form-group">
              <%= f.input :user_id, label: false, input_html: {value: current_user.id, class: "d-none form-control"} %>
            </div>
            <div class="form-group">
              <%= f.input :plant_id, label: false, input_html: {value: params[:plant_id], class: "d-none form-control"} %>
            </div>
            <p class="card-text"><%= "You are buying " + @plant.name + " for $" + @plant.price.to_s %></p>
            <div class="text-center">
              <%= f.submit 'Confirm Purchase', class: 'btn btn-success' %> <%= link_to " Cancel purchase", plant_path(@plant), class: "btn btn-danger" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>

<div class="container mt-3">
  <div class="alert alert-warning alert-dismissible fade show" role="alert">
    <strong>Opportunity to Advertise!</strong> Sponsor this project and be featured here.
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
  </div>
</div>

</body>
</html>
