  <div class="banner">
    <div class="container">
      <h1 class="banner-heading">Welcome to Plantopolis</h1>
      <p>Find your perfect green companion</p>
      <%= link_to "Watch the list", plants_path, class: "btn btn-success  banner-link" %>
    </div>
  </div>
<div class="container">
  <h2>Recently Added</h2>
  <div class="row">
    <% @plants.each do |plant| %>
      <div class="col-md-4 mb-4">
        <div class="card">
          <%= cl_image_tag plant.photo.key, class: "card-img-top" if plant.photo.attached? %>
          <div class="card-body">
            <h2 class="card-title"><%= plant.name %></h2>
            <p class="card-text"><%= plant.description %></p>
            <h3 class="card-text">$<%= plant.price %></h3>
            <%= link_to "More details", plant, class: "btn btn-primary" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
  <div class="footer">
    <h2>Nuestros metodo de pago</h2>
    <ul class="list-inline">
      <li><i class="fa-brands fa-cc-visa"></i></li>
      <li><i class="fa-brands fa-cc-mastercard"></i></li>
      <li><i class="fa-solid fa-credit-card"></i></li>
      <li><i class="fa-brands fa-bitcoin"></i></li>
      <li><i class="fa-solid fa-money-bill"></i></li>
    </ul>
    <h3>@Todos los derechos reservados</h3>
  </div>
