<div class="center-form">
<%= simple_form_for @plant do |f| %>
   <%= f.input :name, label: "Plant Name", placeholder: "Enter plant name"%>
  <%= f.input :description %>
  <%= f.input :price, as: :integer%>
  <%= f.input :photo, as: :file, input_html: { class: "custom-file-input" } %>
  <%= f.button :submit, class: 'btn btn-success' do %>
    <i class="fas fa-check"></i> Save Changes
  <% end %>
  <%= link_to plant_path, class: 'btn btn-warning' do %>
    <i class="fas fa-times"></i> Cancel Edit
  <% end %>
<% end %>
</div>
