<div class="center-form">
<%= simple_form_for @plant do |f| %>
   <%= f.input :name, label: "Plant Name", placeholder: "Enter plant name"%>
  <%= f.input :description %>
  <%= f.input :price, as: :integer%>
  <%= f.input :photo, as: :file, input_html: { class: "custom-file-input" } %>
<div class="button-container">
<%= f.button :submit, "Create Plant", class: "btn-success" %>
    <%= link_to '/', class: 'btn btn-secondary mb-2' do %>
      <i class="fas fa-home"></i> Back home
    <% end %>
    <%= link_to plants_path, class: 'btn btn-primary mb-2 text-center' do %>
      <i class="fas fa-chevron-left"></i> Back to List
    <% end %>
</div>
<% end %>
</div>
