<%= simple_form_for @plant do |f| %>
   <%= f.input :name, label: "Plant Name", placeholder: "Enter plant name"%>
  <%= f.input :description %>
  <%= f.input :price, as: :integer%>
  <%= f.input :photo, as: :file %>
<div class="container d-flex justify-content-between">
<%= f.button :submit, "Create Plant", class: "btn-success" %>
  <%= link_to "<<-- Back home", '/', class: "btn btn-secondary mb-2" %>
  <%= link_to "<- Back to List", plants_path, class: "btn btn-primary mb-2" %>
</div>
<% end %>
