<div class="center-form">
<%= simple_form_for @plant do |f| %>
   <%= f.input :name, label: "Plant Name", placeholder: "Enter plant name"%>
  <%= f.input :description %>
  <%= f.input :price, as: :integer%>
  <%= f.input :photo, as: :file, input_html: { class: "custom-file-input" } %>
<div class="button-container">
<%= f.button :submit, "Create Plant", class: "btn-success" %>
  <%= link_to "<<-- Back home", '/', class: "btn btn-secondary" %>
  <%= link_to "<- Back to List", plants_path, class: "btn btn-primary" %>
</div>
<% end %>
</div>
